@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container{
    width: 40%;
    background-color: aliceblue;
    border: 2px solid black;
    text-align: center;
    margin-top: 10%;
    border-radius: 15px;
    padding: 15px;  
    text-align: left;
}
.row{
    width: 100%;
    margin: 2rem ;
    margin-left: 0;
    text-align: left;
}

 .btn{
    padding: 5px;
    width:100%;
    font-size: 20px;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    background-color: rgb(47, 85, 162);
} 